$logo-color-1: red;
$logo-color-2: #008069;
$button-bg-color: #008069;
$button-text-color:#fff;
$body-bg-color: #000;
$sidebar-bg-color: #000;
$logo-font:  'Montserrat', sans-serif;
$h1-font:  unset;
$h1-color: #fff;
$h2-font:  unset;
$h2-color: #fff;
$p-font:  unset;
$p-color: #fff;
$icons-color: #fff;
$link-color:#fff;
$divider-color:#fff;
