$logo-color-1: #fff;
$logo-color-2: #008069;
$button-bg-color: #008069;
$body-bg-color: #000;
$sidebar-bg-color: #000;
$logo-font:  'Lobster', cursive;
$h1-font:  'Lobster', cursive;;
$h1-color: #fff;
$h2-font:  'Lobster', cursive;;
$h2-color: #fff;
$p-font:  'Lobster', cursive;;
$p-color: #fff;
