$logo-color-1:rgb(0,0,0)
$logo-color-2: #008069;
$button-bg-color: #008069;
$button-text-color:#000;
$body-bg-color: #fff;
$sidebar-bg-color: #fff;
$logo-font:  'Barlow', sans-serif;
$h1-font:  'Barlow', sans-serif;
$h1-color: #000;
$h2-font:  'Barlow', sans-serif;
$h2-color: #000;
$p-font:  'Barlow', sans-serif;
$p-color: #000;
$icons-color: #000;
$link-color:#000;
$divider-color:#000;
