@import "variables";


html,
body {
  overflow-x: hidden;
  background: $body-bg-color;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: $link-color;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  font-family: ".SFNSText", "SFProText-Regular", "SFUIText-Regular", ".SFUIText",
    Helvetica, Arial, sans-serif;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.root {
  display: flex;
  padding: 5px;
  justify-content: center;
}

h1 {
  font-family: $h1-font;
  font-weight: bold;
  color: $h1-color;
  margin: 6px 0 12px;
}
h2 {
  color: $h2-color;
  font-family: $h2-font;
  margin: 8px 0;
}
p {
  color: $p-color;
  font-family: $p-font;
  font-size: 20px;
  line-height: 28px;
}

ul,
li {
  list-style: none;
  padding: 0;
  margin: 0;
}

.divider{
  width: 100%;
  border: 1px solid $divider-color;
}

// HEADER// HEADER// HEADER// HEADER// HEADER// HEADER// HEADER// HEADER// HEADER
// HEADER// HEADER// HEADER// HEADER// HEADER// HEADER// HEADER// HEADER// HEADER
// HEADER// HEADER// HEADER// HEADER// HEADER// HEADER// HEADER// HEADER// HEADER

.header {
  padding: 5px;
  display: flex;
  width: 100%;
  height: 40px;
  align-items: center;
  position: fixed;
  z-index: 1;
  justify-content: center;
}

.header .menu {
  margin-left: auto;
}

.logo {
  font-family: $logo-font;
  font-weight: 800;
  font-size: 30px;
}

.logo-1{color: $logo-color-1;}
.logo-2{color:$logo-color-2}

// MENU DRAWER &  SIDEBAR// MENU DRAWER &  SIDEBAR// MENU DRAWER &  SIDEBAR// MENU DRAWER &  SIDEBAR// MENU DRAWER &  SIDEBAR// MENU DRAWER &  SIDEBAR
// MENU DRAWER &  SIDEBAR// MENU DRAWER &  SIDEBAR// MENU DRAWER &  SIDEBAR// MENU DRAWER &  SIDEBAR// MENU DRAWER &  SIDEBAR// MENU DRAWER &  SIDEBAR
// MENU DRAWER &  SIDEBAR// MENU DRAWER &  SIDEBAR// MENU DRAWER &  SIDEBAR// MENU DRAWER &  SIDEBAR// MENU DRAWER &  SIDEBAR// MENU DRAWER &  SIDEBAR

.menu-swipe .MuiDrawer-paper {
  width: 300px;
  background-color: $sidebar-bg-color !important;
}
.model-swipe .MuiDrawer-paper {
  width: 100%;
  height: 97vh;
  background-color: $sidebar-bg-color !important;
}
.PrivateSwipeArea-root {
  width: unset !important;
}

.close-menu {
  cursor: pointer;
  position: absolute;
  color: $icons-color;
  right: 5px;
  top: 5px;
  font-weight: 800;
}

.sidebar {
  display: none;
}
.infoTab {
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.infoTab::-webkit-scrollbar,
html::-webkit-scrollbar,
body::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.infoTab,
body,
html {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.avatar-container .MuiAvatar-root {
  height: 220px;
  width: 220px;
}

.social-link-icon {
  color: $icons-color;
  font-size: 2rem;
  cursor: pointer;
  margin-left: 15px;
  margin-right: 15px;
}

// CARD STYLE // CARD STYLE // CARD STYLE // CARD STYLE // CARD STYLE // CARD STYLE // CARD STYLE
// CARD STYLE // CARD STYLE // CARD STYLE // CARD STYLE // CARD STYLE // CARD STYLE // CARD STYLE
// CARD STYLE // CARD STYLE // CARD STYLE // CARD STYLE // CARD STYLE // CARD STYLE // CARD STYLE

#card-list-container,
.post-container {
  max-width: 990px;
  flex: 1 1 100%;
}
.post-content-description {
  margin-bottom: 40px;
  margin-top: 10px;
}
.hero-post {
  padding-top: 45px;
  height: 240px;
}
.post-content-container {
  margin-top: 40px;
}
.post-content {
  border-bottom-left-radius: 0% !important;
  border-bottom-right-radius: 0% !important;
}
#card-list-container {
  padding-top: 45px;
}
.card-list {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
}
.card {
  position: relative;
  padding: 25px;
  height: 460px;
  flex: 0 0 40%;
  max-width: 40%;
}
.card:nth-child(4n + 1),
.card:nth-child(4n + 4) {
  flex: 0 0 60%;
  max-width: 60%;
}
.card:nth-child(odd) {
  padding-left: 0;
}
.card:nth-child(even) {
  padding-right: 0;
}
.card-content-container {
  width: 100%;
  height: 100%;
  position: relative;
  display: block;
}
.card-content {
  pointer-events: auto;
  position: relative;
  border-radius: 20px;
  background: #1c1c1e;
  overflow: hidden;
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

/* POST IMG RESPOSNCIVE FIX */ /* POST IMG RESPOSNCIVE FIX */ /* POST IMG RESPOSNCIVE FIX */ /* POST IMG RESPOSNCIVE FIX */
/* POST IMG RESPOSNCIVE FIX */ /* POST IMG RESPOSNCIVE FIX */ /* POST IMG RESPOSNCIVE FIX */ /* POST IMG RESPOSNCIVE FIX */
/* POST IMG RESPOSNCIVE FIX */ /* POST IMG RESPOSNCIVE FIX */ /* POST IMG RESPOSNCIVE FIX */ /* POST IMG RESPOSNCIVE FIX */

.post-img-container {
  width: 100%;
  margin-bottom: 20px;
  > span {
    position: unset !important;
  }
  .gallery-img {
    object-fit: contain;
    width: 100% !important;
    position: relative !important;
    height: unset !important;
  }
}
.card-image-container {
  height: 100%;
  width: 100%;
}

.card-image {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.video_player {
  height: 100% !important;
  width: 100% !important;
}
.video_player video {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

// SKETCHFAB// SKETCHFAB// SKETCHFAB// SKETCHFAB// SKETCHFAB// SKETCHFAB
// SKETCHFAB// SKETCHFAB// SKETCHFAB// SKETCHFAB// SKETCHFAB// SKETCHFAB
// SKETCHFAB// SKETCHFAB// SKETCHFAB// SKETCHFAB// SKETCHFAB// SKETCHFAB

.sketchfab-embed-wrapper,
.sk-frame-wrapper,
.sk-frame-wrapper iframe {
  width: 100%;
  height: 100%;
  padding-top: 10px;
}
.loader {
  position: absolute;
  height: 100%;
  width: 100%;
  align-items: center;
  display: flex;
  justify-content: center;
  z-index: -1;
}
.loader svg {
  height: 140px;
  width: 140px;
}
.open-model-btn {
  background-color: $button-bg-color !important;
  color: $button-text-color !important;
}

// MEDIA QUERY// MEDIA QUERY// MEDIA QUERY// MEDIA QUERY// MEDIA QUERY// MEDIA QUERY
// MEDIA QUERY// MEDIA QUERY// MEDIA QUERY// MEDIA QUERY// MEDIA QUERY// MEDIA QUERY
// MEDIA QUERY// MEDIA QUERY// MEDIA QUERY// MEDIA QUERY// MEDIA QUERY// MEDIA QUERY
// MEDIA QUERY// MEDIA QUERY// MEDIA QUERY// MEDIA QUERY// MEDIA QUERY// MEDIA QUERY

@media only screen and (min-width: 1200px) {
  .model-swipe,
  .model-swipe .MuiBackdrop-root {
    left: 300px;
  }

  .model-swipe .MuiDrawer-paper {
    width: calc(100% - 300px);
    height: 97vh;
    background-color: $sidebar-bg-color !important;
    margin-left: auto;
  }
  .hero-post {
    height: 480px;
    padding-top: 20px;
  }
  #card-list-container {
    padding-top: 0px;
  }
  .sidebar {
    flex-direction: column;
    padding: 10px;
    padding-top: 25px;
    z-index: 1;
    background-color: $sidebar-bg-color;
    position: fixed;
    width: 360px;
    height: 100vh;
    display: flex;
    align-items: center;
  }
  .root {
    margin-left: 300px;
  }
  .header .menu {
    display: none;
  }
  .header {
    justify-content: start;
  }
}
@media only screen and (max-width: 800px) {
  .card {
    flex: 0 0 50%;
    max-width: 50%;
  }

  .card:nth-child(4n + 1),
  .card:nth-child(4n + 4) {
    flex: 0 0 50%;
    max-width: 50%;
  }
  /* .video_player{
    height: unset !important;
    width: 115% !important;
  } */
}

@media only screen and (max-width: 600px) {
  .MuiDrawer-paper {
    width: 100vw;
  }
  .header .logo img {
    width: 70%;
  }

  /* .video_player{
    height: unset !important;
    width: 600px !important;
  } */
  .card {
    flex: 1 0 100%;
    max-width: 100%;
    padding: 10px;
    padding-left: 0;
    padding-right: 0;
  }

  .card:nth-child(4n + 1),
  .card:nth-child(4n + 4) {
    flex: 1 0 100%;
    max-width: 100%;
  }

  .card-content-container.open {
    padding: 0;
  }
}
